@model WebApplication11.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCheckOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreadoEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreadoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitacion.HabitacionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.UsuarioId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
